body {
    box-sizing: border-box;
}

/* TODO: Crear contenedores auto-ajustables */
.container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

/* TODO: Usar :nth-child() para darle estilos a las secciones pares e impares */
.section-even {
    background-color: #080808;
    color: white;
}

.footer {
    background-color: #1B1B1B;
    color: #9C9C9C;
}