body {
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

/* TODO: Crear contenedores auto-ajustables */
.container {
    width: 96vw; /* vw: view width */
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-main,
.menu-social {
    list-style: none;
    padding: 0;
    display: flex;
}

@media ( min-width: 567px ) {
    .container {
        width: calc( 567px - 20px );
    }
}
@media ( min-width: 768px ) {
    .container {
        width: calc( 768px - 30px );
    }
}
@media ( min-width: 992px ) {
    .container {
        width: calc( 992px - 30px );
    }
}

/* TODO: Usar :nth-child() para darle estilos a las secciones pares e impares */
.section-even {
    background-color: #080808;
    color: white;
}

.footer {
    background-color: #1B1B1B;
    color: #9C9C9C;
}